@model MarvelApi.Model.Characters

    <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
        <div class="single-service">
            <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">

                @Html.DisplayFor(modelItem => @Model.name)


                @Html.DisplayFor(modelItem => @Model.description)
                <img src="@Model.Avatar">

            </div>
           
    </div>


</div>
